# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml

out
gen
utils/.gitignore
utils/.mvn/
utils/mvnw
utils/mvnw.cmd
utils/src/test/
